
<div class="container">
  <p [style.color]="color" [style.font-size]="size" [style.font-weight]="weight" [style.font-family]="font" id="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna lacus, consectetur ut massa ac, auctor venenatis massa. Phasellus varius id mauris sed porta. Suspendisse porta odio lacus, sed vestibulum mauris molestie sit amet. Quisque efficitur
    pulvinar tempus. Morbi pharetra tempus tellus bibendum blandit. Sed tempor mollis ornare. Vestibulum semper maximus velit vitae lobortis. Sed commodo ornare leo eu vulputate. Aenean in nibh sed mauris aliquet congue. Phasellus pellentesque
    velit quis lacinia vulputate. Fusce fermentum tincidunt tellus, ut tempor velit fringilla et. Ut vitae orci pharetra, placerat justo et, tempus nisi. Aenean ultricies luctus imperdiet.</p>
  <div class="row" id="data">
    <div class="col">
      <input #inputColor (change)="changeColor(inputColor)" type="color" id="color" class="form-control">
    </div>
    <div class="col">
      <input #inputSize (change)="changeSize(inputSize)" type="number" id="font-size" class="form-control">
    </div>
    <div class="col">
      <input #inputWeight (change)="changeWeight(inputWeight)" type="range" min="0" max="100" step="1" value="0" id="font-size2" class="form-control">
    </div>
    <div class="col">
      <select #inputFont (change)="changeFont(inputFont)" id="font-family" class="form-control">
        <option value="arial">arial</option>
        <option value="verdana">verdana</option>
        <option value="garamond">garamond</option>
      </select>
    </div>
  </div>

</div>
